# 네이버 클라우드 플랫폼 https://www.ncloud.com/
VITE_NAVER_MAP_CLIENT_ID=NAVER_CLOUD_PLATFORM_지도API_Client_ID

# 기상청 API Hub https://apihub.kma.go.kr/
VITE_KOREA_METEOROLOGICAL_ADMINISTRATION_SERVER_URL=기상청_API_Hub_URL
VITE_KOREA_METEOROLOGICAL_ADMINISTRATION_API_KEY=기상청_API_Hub_API_KEY